@model IEnumerable<AspNetMvcRoles.Models.Sedes>

@{
    ViewData["Title"] = "Index";
}

<h1>Sedes</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluguel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAbertura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDaSede)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluguel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAbertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorDaSede)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning"  asp-route-id="@item.IdSede">Editar</a> |
                <a asp-action="Details" class="btn btn-info"  asp-route-id="@item.IdSede">Detalhes</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdSede">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
